 <div class="fixed-table-footer" style="display: none;"><table>
            <tbody><tr></tr></tbody></table></div><div class="fixed-table-pagination" style="display: none;"></div></div></div><div class="clearfix"></div>
                <ul class="pagination">
<!--			<li class="disabled"><span>«</span></li>-->
  <li ng-repeat="i in getPagination() track by $index">
	<a href="#" ng-click="loadPage($index);">
		<span>{[{$index+1}]}</span>
	</a></li>

<!-- <li class="active"><span>1</span></li><li><a href="#">2</a></li>
		<li><a href="#" rel="next">»</a></li>	-->
	</ul>

 
