
<div id="social-sidebar"><!-- SOCIAL Media SIDEBAR -->

<ul>
   
    <li>

        <a class="entypo-twitter" href="https://twitter.com/" target="_blank">
           <i class="fa fa-twitter "></i>
            <span>Twitter</span>

        </a>

    </li>

    
    
    <li>

        <a class="entypo-facebook" href="https://www.facebook.com/" target="_blank">
             <i class="fa fa-facebook "></i>
            <span>facebook</span>

        </a>

    </li>

    
    
    <li>

        <a class="entypo-gplus" href="https://plus.google.com/" target="_blank">
            <i class="fa fa-google-plus "></i>
            <span>google+</span>

        </a>

    </li>

    
</ul>

</div> <!-- /#SOCIAL Media SIDEBAR -->